Repository nathancooperjones/deal-or-no-deal: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-compile-requirements, pip-compile-dev

pip-compile-requirements:
  name: compile requirements.txt
  entry: pip-compile requirements.in -o requirements.txt
  language: system
  always_run: false
  stages:
  - push

pip-compile-dev:
  name: compile requirements-dev.txt
  entry: pip-compile requirements-dev.in -o requirements-dev.txt
  language: system
  always_run: false
  stages:
  - push

better README
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  requirements-dev.in
  requirements-dev.txt
Due: pip-compile-dev

bulk of the work is done, still a few bugs
  Dockerfile
  README.md
  deal_or_no_deal/config.py
  deal_or_no_deal/dqn.py
  deal_or_no_deal/envs/deal_or_no_deal.py
  deal_or_no_deal/model.py
  deal_or_no_deal/preprocess.py
  deal_or_no_deal/run_deal_or_no_deal_env.py
  nbs/Untitled.ipynb
  nbs/Untitled1.ipynb
  requirements-dev.in
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
Due: pip-compile-requirements, pip-compile-dev

pushing v0.1.0
  CHANGELOG.md
  data/Deal or No Deal Data.xlsx
  data/banker_model_0906.pkl
  deal_or_no_deal/_version.py
  deal_or_no_deal/dqn.py
  deal_or_no_deal/envs/deal_or_no_deal.py
  deal_or_no_deal/model.py
  deal_or_no_deal/run_deal_or_no_deal_env.py
  nbs/test_dqn.ipynb
  nbs/test_env.ipynb
  nbs/train_banker_model.ipynb
  requirements.txt
  setup.cfg
  setup.py
Due: pip-compile-requirements

fixing flake8 issues
  README.md
  deal_or_no_deal/dqn.py
  deal_or_no_deal/model.py
Due: none

README typo
  README.md
Due: none

updated data
  data/Deal or No Deal Data.xlsx
  data/banker_model_0906.pkl
  data/banker_model_0908.pkl
  nbs/test_dqn.ipynb
  nbs/test_env.ipynb
  nbs/train_banker_model.ipynb
Due: none

bug fixes on the GPU
  deal_or_no_deal/dqn.py
  deal_or_no_deal/envs/deal_or_no_deal.py
Due: none

updated reward structure
  deal_or_no_deal/dqn.py
  deal_or_no_deal/envs/deal_or_no_deal.py
Due: none

updated epsilon decay rate
  deal_or_no_deal/dqn.py
Due: none

bug fixes and improvements all around
  CHANGELOG.md
  data/Deal or No Deal Data.xlsx
  deal_or_no_deal/_version.py
  deal_or_no_deal/fast_play.py
  deal_or_no_deal/preprocess.py
  nbs/test_model_against_real_world_games.ipynb
  requirements.txt
  setup.py
Due: pip-compile-requirements

bug fixes, better README
  CHANGELOG.md
  README.md
  data/banker_model_0908.pkl
  deal_or_no_deal/_version.py
  deal_or_no_deal/banker.py
  nbs/test_model_against_real_world_games.ipynb
  nbs/train_banker_model.ipynb
Due: none

reward bug fixes
  deal_or_no_deal/dqn.py
  deal_or_no_deal/envs/deal_or_no_deal.py
  nbs/test_env.ipynb
Due: none

okay, rewards are ACTUALLY fixed this time
  deal_or_no_deal/dqn.py
  deal_or_no_deal/envs/deal_or_no_deal.py
Due: none

ready to go for the talk this morning
  CHANGELOG.md
  README.md
  deal_or_no_deal/_version.py
  nbs/test_model_against_real_world_games.ipynb
Due: none

adding link to slides
  README.md
Due: none

adding back in models
  data/banker_final.pkl
  data/dqn_final.h5
  deal_or_no_deal/envs/deal_or_no_deal.py
  nbs/test_dqn.ipynb
  nbs/test_env.ipynb
  nbs/test_model_against_real_world_games.ipynb
  nbs/train_banker_model.ipynb
Due: none

adding talk link to README
  README.md
Due: none

new URL
  README.md
Due: none

Path conditions:
  pip-compile-requirements: any of: setup.py
  pip-compile-dev: any of: requirements-dev.in
